@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --first-color: 	#666666;
    --second-color: #dddddd;
    --third-color: #fff;
    --fourth-color: #bbbbbb;
    --fifth-color: #f6f6f6;
    --text-color: #222;

    --box-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: var(--fifth-color)
}

/* This is where the entire html code begins "talking" with the CSS for the tab scroller */
section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-nav-bar{
    position: relative;
    margin: 65px 10px 40px 10px;
}

.tab-navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu{
    color: var(--text-color);
    list-style: none;
    background: var(--fifth-color);
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid var(--fifth-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}

.tab-btn{
    color: var(--text-color);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    transition: font-weight 100ms ease-in-out;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--second-color);
    cursor: pointer;
    user-select: none;
}

.tab-btn:hover{
    font-weight: 800;
    background: var(--third-color);
}

.tab-btn.active{
    background: var(--third-color);
    box-shadow: var(--box-shadow);
}

/* hero text css begins here */

.black-gradient {
    text-align: center;
    letter-spacing: -1.25px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 70px;
    display: inline-block;
    position: relative;
}

.hero-text-wrapper {
    width: 100%;
    perspective: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 150px;
    display: flex;
    position: relative;
}

.hero-centered-paragraph {
    max-width: 560px;
    color: #5e5e63;
    text-align: center;
    margin-top: 30px;
    line-height: 150%;
}

.hero-centered-paragraph.work {
    max-width: 500px;
}

/* The portfolio boxes css starts here */
.project-card {
    width: 100%;
    height: 440px;
    max-width: 1000px;
    min-width: 900px;
    box-shadow: none;
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 24px;
    justify-content: relative;
    align-items: center;
    margin-bottom: 96px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 64px;
    transition: all .2s ease-out;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.project-card:hover {
    background-color: #f6f6f6;
    transform: scale(1.02);
    box-shadow: 0 0 #e6ebef, 0 4px 24px rgba(0, 0, 0, .08);
}

.project-card.disabled {
    cursor: not-allowed;
}

.project-card.disabled:hover {
    box-shadow: none;
    background-color: #eceff1;
    transform: none;
}