@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --first-color: #dddddd;
    --second-color: #fff;
    --third-color: #f6f6f6;
    --text-color: #222;
    --light-text-color: #666666;
    --input-light-text: #A9A9A9;


    --box-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --main-hue: 197;
    --input-bg: hsla(184, 9%, 62%, 1);
    --input-bg-hover: hsla(var(--main-hue), 10%, 87%, 1);
    --light-main-color: hsla(var(--main-hue), 91%, 50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: var(--third-color);
}

a {
    text-decoration: none;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}
/* progress button & back 2 top button */
#progress {
    background-color: #666666;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: var(--text-color);
  }
/* This is where the CSS for the tab scroller start */
section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-nav-bar{
    position: relative;
    margin: 65px 10px 40px 10px;
}

.tab-navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    list-style: none;
    background: var(--third-color);
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid var(--third-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}

.tab-btn {
    color: var(--text-color);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    transition: font-weight 0.2s ease-in-out;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--first-color);
    cursor: pointer;
    user-select: none;
}


.tab-btn:hover{
    font-weight: 800;
    background: var(--second-color);
}

.tab-btn.active{
    font-weight: 800;
    background: var(--second-color);
    box-shadow: var(--box-shadow);
}

/* particles */
.particle-wrapper {
    z-index: -75;
    width: 700px;
    height: 310px;
    position: absolute;
    top: -108px;
}

.particle-1 {
    width: 20px;
    height: 20px;
    opacity: .4;
    background-color: #323235;
    border-radius: 6px;
    position: absolute;
    top: 90px;
    right: 159px;
    transform: rotate(51deg);
}

.particle-1.purple {
    background-color: #8474f9;
    border-radius: 15px;
}

.particle-2 {
    width: 24px;
    height: 24px;
    opacity: .3;
    background-color: #323235;
    border-radius: 6px;
    position: absolute;
    top: 200px;
    right: 600px;
    transform: rotate(20deg);
}

.particle-2.pink {
    background-color: #f4717d;
    border-radius: 15px;
}

.particle-3 {
    width: 9px;
    height: 9px;
    opacity: .4;
    background-color: #323235;
    border-radius: 2px;
    position: absolute;
    top: 94px;
    right: 624px;
    transform: rotate(-17deg);
}

.particle-3.blue {
    background-color: #55a5ff;
    border-radius: 15px;
}

.particle-4 {
    width: 15px;
    height: 15px;
    opacity: .2;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    top: 64px;
    right: 428px;
    transform: rotate(26deg);
}

.particle-4.pink {
    background-color: #f4717d;
    border-radius: 15px;
}

.particle-5 {
    width: 12px;
    height: 12px;
    opacity: .2;
    background-color: #323235;
    border-radius: 4px;
    position: absolute;
    top: 203px;
    right: 448px;
    transform: rotate(-11deg);
}

.particle-5.purple {
    background-color: #8474f9;
    border-radius: 15px;
}

.particle-6 {
    width: 12px;
    height: 12px;
    opacity: .2;
    background-color: #323235;
    border-radius: 4px;
    position: absolute;
    top: 251px;
    right: 262px;
    transform: rotate(14deg);
}

.particle-6.blue {
    background-color: #55a5ff;
    border-radius: 15px;
}

.particle-7 {
    width: 9px;
    height: 9px;
    opacity: .2;
    background-color: #323235;
    border-radius: 2px;
    position: absolute;
    top: 213px;
    right: 104px;
    transform: rotate(-14deg);
}

.particle-7.purple {
    background-color: #8474f9;
    border-radius: 15px;
}

.particle-8 {
    width: 11px;
    height: 11px;
    opacity: .15;
    background-color: #323235;
    border-radius: 3px;
    position: absolute;
    top: 111px;
    right: 64px;
    transform: rotate(17deg);
}

.particle-8.pink {
    background-color: #f4717d;
    border-radius: 15px;
}


/* hero text css begins here */
.black-gradient {
    text-align: center;
    letter-spacing: -1.25px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 70px;
    display: inline-block;
    position: relative;
}

.hero-text-wrapper {
    width: 100%;
    perspective: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 218px;
    display: flex;
    position: relative;
}

.hero-centered-paragraph {
    max-width: 560px;
    color: #5e5e63;
    text-align: center;
    margin-top: 30px;
    line-height: 150%;
}

.hero-centered-paragraph.work {
    max-width: 500px;
}


/* content tabs begin here */
.tab-content{
    position:relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab{
    top: 121px;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    display: flex;
    content-visibility: hidden;
    opacity: 0;
}

.tab.active{
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

/*portfolio tab*/
.portfolio{
    width:100px;
    overflow: hidden;
    background-color: var(--first-color);
}

.portfolio-center{
    align-items: center;
    width: 100%;
    perspective: 1000px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
}

.portfolio-heading h1 {
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    font-size: 100px;
    white-space: nowrap;
    position: relative;
    margin-top: 140px;
    margin-bottom: 10px;
}

.portfolio-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 250px;
}
.portfolio-btn {
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    transition: font-weight 0.2s ease-in-out;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--light-text-color);
    cursor: pointer;
}

.portfolio-btn a {
    color: #fff;
    text-decoration: none;
}

.portfolio-btn:hover,
.portfolio-btn:hover a {
    font-weight: 800;
    color: var(--text-color);
    background: var(--first-color);
}


/* The portfolio boxes css starts here */
.portfolio-card {
    width: 100%;
    height: 440px;
    max-width: 1000px;
    min-width: 900px;
    box-shadow: none;
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 24px;
    justify-content: relative;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 96px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 64px;
    transition: all .2s ease-out;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-card:hover {
    background-color: #f6f6f6;
    transform: scale(1.02);
    box-shadow: 0 0 #e6ebef, 0 4px 24px rgba(0, 0, 0, .08);
}

.portfolio-card.disabled {
    cursor: not-allowed;
}

.portfolio-card.disabled:hover {
    box-shadow: none;
    background-color: #eceff1;
    transform: none;
}

.link-text {
    color: #323235;
}

.small-caps-subtitle {
    color: #5e5e63;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
}

.small-caps-subtitle.light {
    color: #bdbdc5;
}

.portfolio-preview-image {
    z-index: 0;
    height: 400px;
    max-width: 480px;
    object-fit: cover;
    object-position: 60% 100%;
    border-radius: 16px;
    align-self: stretch;
    position: relative;
    bottom: -40px;
    right: -12px;
}

.v-space {
    width: 100%;
    height: 32px;
}

.v-space.extra-large {
    height: 128px;
}

.v-space.extra-large.color {
    background-color: #bdbdc5;
}

.v-space.large {
    height: 64px;
}

.v-space.large.color {
    background-color: #bdbdc5;
}

.v-space.medium {
    height: 32px;
}

.v-space.medium.color {
    background-color: #bdbdc5;
}

.v-space.small{
    height: 16px;
}

.v-space.small.color {
    background-color: #bdbdc5;
}

.callout-container {
    width: 100%;
    max-width: 664px;
    background-color: #fff;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 32px;
}

.button-text {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(107deg, #74747a, #323235);
    -webkit-background-clip: text;
    background-clip: text;
}

.button-icon {
    margin-left: 9px;
    position: relative;
}

.primary-button {
    box-shadow: none;
    color: #323235;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    transition: color .2s;
    display: flex;
    margin-top: 20px;
}

.primary-button:hover {
    box-shadow: none;
    color: #5e5e63;
    border-radius: 12px;
}

.primary-button.fill {
    width: 100%;
}
.portfolio-preview-image {
    z-index: 0;
    height: 700px;
    max-width: 280px;
    object-fit: cover;
    object-position: 40% 100%;
    border-radius: 16px;
    align-self: stretch;
    position: relative;
    bottom: 40px;
    right: -120px;
}

/*contact tab*/
.contact{
    width:100px;
    overflow: hidden;
    background-color: var(--first-color);
}

.contact-center{
    align-items: center;
    width: 100%;
    perspective: 1000px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
}

.contact-heading h1 {
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    background-clip: text;

    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    font-size: 40px;
    white-space: nowrap;
    margin-bottom: 0.2rem;
    position: relative;
}

.contact-subh{
    color: var(--light-text-color);
    text-align: center;
    font-size: 1rem;
}

.forms-wrapper{
    max-width: 32rem;
}


.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap {
    position: relative;
}

.input-wrap.w-100{
    grid-column: span 2;
}

.contact-input{
    width: 100%;
    background-color: hsla(var(--main-hue), 0%, 93%, 1);
    padding: 1.5rem 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla hsla(var(--main-hue), 92%, 54%, 0.169);

    transition: 0.3s;
    box-sizing: border-box;
}

.contact-input:hover {
    background-color: var(--input-bg-hover);
}


.input-wrap label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.35rem;
    color: var(--input-light-text);
    pointer-events: none;
    transition: 0.25s;
}

.input-wrap .icon {
    position: absolute;
    top: 50%; 
    right: 1.35rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--light-text-color);
    font-size: 1.25rem;
    transition: 0.3s;
}

textarea.contact-input{
    resize: none;
    width: 100%;
    min-height: 150px;

}

textarea.contact-input ~ label{
    top: 1.4rem;
    transform: none;
}

textarea.contact-input ~ .icon{
    top: 1.4rem;
    transform: none;
}

.input-wrap.focus .contact-input{
    background-color: var(--second-color);
    border: 2px solid var(--light-main-color);
    box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);
}

.input-wrap.focus label{
    color: var(--light-main-color);
}

.input-wrap.focus .icon {
    color: var(--light-main-color);
}

.input-wrap.not-empty label{
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.btn{
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: #080808;
    color: #fff;
    border-radius: 40px;
    border: none;
    font-family: inherit;
    font-weight: 580;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 100px;
    
}

.btn:hover{
    background-color: hsla(var(--main-hue), 0%, 93%, 1);
    color: var(--input-light-text);
}


.btn.upload{
    position: relative;
    background-color: hsla(var(--main-hue), 0%, 93%, 1);
}

.btn.upload span{
    color: var(--input-light-text);
}

.btn.upload:hover{
    background-color: hsla(132, 6%, 83%, 1);
}

.btn.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    cursor: pointer;
    opacity: 0;
}

/* media queires here */
@media screen and (max-width: 1050px){
    section{
        margin: 0 0px;
    }

    .tab-nav-bar {
        margin: 65px 20px 40px 25px;
    }

    .tab{
        padding: 15px 25px;
    }

    .portfolio-card{
        width: auto;
        max-width: 800px;
        min-width: 700px;
    }
}

/* footer */
.footer {
    width: 100%;
    background-color: #f1f1f1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    padding: 48px 24px 32px;
    display: flex;
}